
* {
	border:0;
	margin:0;
	padding:0;
}

#page3, #page2 {
	display:none;
	touch-action: manipulation;
}

#logoContainer {
	width:100%;
	height:50%;
	background-color: rgb(32, 30, 30);
	text-align:center;
	display:flex;
	align-items: center;
    justify-content: center;
}

#btnContainer {
	width:100%;
	height:50%;
	background-color: rgb(32, 30, 30);
	display:flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
	font-size:23vw;
	color: magenta;
}

.mainBtn {
	width:70%;
	font-size:9vw;
	padding:10px;
	margin:15px;
	text-align:left;
}

#infoContainer {
	width:100%;
	height:30%;
	background-color: rgb(32, 30, 30);
}

.nextInfo {
	float: left;
	width: 50%;
	height: 100%;
	display:flex;
	flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.timeScoreInfo {
	float: right;
	width: 50%;
	height: 100%;
	display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#gameContainer {
	width:100%;
	height:70%;
	background-color: rgb(32, 30, 30);
	display:flex;
	align-items: center;
    justify-content: center;
}

table {
	width:95vw;
	height:95vw;
	text-align:center;
	background-color:rgb(19, 11, 122);
	table-layout:fixed;
}

tr, td {
    border: 7px solid rgb(32, 30, 30);
}

.cell {
	font-size:9vw;
	color:white;
}

.text {
	font-size:5vw;
	color: magenta;
}

.info {
	font-size:10vw;
	color: white;
}

#textNext, #next{
	margin-left:5vw;
}

#textTimeScore, #timeScore{
	margin-right:5vw;
}

#titleContainer {
	width:100%;
	height:15%;
	background-color: rgb(32, 30, 30);
	display:flex;
	justify-content: center;
    align-items: center;
}

#boardContainer {
	width:100%;
	height:85%;
	background-color: rgb(32, 30, 30);
	display:flex;
	justify-content: center;
    align-items: center;
}

#subBoard {
	width:90%;
	height:90%;
	background-color: #eeedaa;
	border-radius: 2em;
	display:flex;
	align-items: center;
}

.board {
	width:34%;
	height:90%;
	background-color: #eeedaa;
	display:flex;
	flex-direction: column;
    align-items: flex-end;
}

#title {
	font-size:13vw;
	color: magenta;
}

.content {
	font-size:3vw;
	color:black;
}