
* {
	border:0;
	margin:0;
	padding:0;
}

#page3, #page2 {
	display:none;
	touch-action: manipulation;
}

/*#page2 {
	touch-action: none;
}*/

#page1, #page3 {
	background-image:url("images/test.jfif");
	background-repeat:repeat;

}

#logoContainer {
	width:100%;
	height:50%;
	/*background-color: rgb(32, 30, 30);*/
	text-align:center;
	display:flex;
	align-items: center;
    justify-content: center;
}

#btnContainer {
	width:100%;
	height:50%;
	/*background-color: rgb(32, 30, 30);*/
	display:flex;
	flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#logo {
	font-family: 'Concert One', cursive;
	font-size:25vw;
	color: rgb(131, 3, 143);
}

.mainBtn {
	width:70%;
	font-size:9vw;
	padding:10px;
	margin:15px;
	text-align:center;
	font-family: 'Concert One', cursive;
	background-color:beige;
}

#infoContainer {
	width:100%;
	height:30%;
	background-color: rgb(32, 30, 30);
}

.nextInfo {
	float: left;
	width: 50%;
	height: 100%;
	display:flex;
	flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.timeScoreInfo {
	float: right;
	width: 50%;
	height: 100%;
	display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

#textTimeScore, #timeScoreContainer {
	margin-right:5vw;
}

#timeScoreContainer {
	display:flex;
}

#gameContainer {
	width:100%;
	height:70%;
	background-color: rgb(32, 30, 30);
	display:flex;
	align-items: center;
    justify-content: center;
}

#count {
	font-size:50vw;
	color: magenta;
	position:absolute;
	z-index:10;
}

.table {
	display: table;
	table-layout:fixed;
	border-spacing: 1.5vw;
	text-align:center;
}

.row {
	display: table-row;
}

.cell {
	display: table-cell;
	height:18vw;
	width:19vw;
	vertical-align: middle;
	font-size:10vw;
	color:rgba(255, 255, 255, 0.959);
	background-color:rgb(19, 11, 122);
	border-style:outset;
	border-width: 1.5vw;
	border-color:rgb(8, 0, 112);
}

.text {
	font-size:5vw;
	/*color: magenta;*/	
	font-family: 'Concert One', cursive;
	color: rgb(131, 3, 143);
}

.info {
	font-size:10vw;
	color: white;
}

#textNext, #next{
	margin-left:5vw;
}

#titleContainer {
	width:100%;
	height:15%;
	/*background-color: rgb(32, 30, 30);*/
	display:flex;
	justify-content: center;
    align-items: center;
}

#boardContainer {
	width:100%;
	height:85%;
	/*background-color: rgb(32, 30, 30);*/
	display:flex;
	flex-direction: column;
}

#boardContainer > div:first-child {
	width:100%;
	height:90%;
	display:flex;
	justify-content: center;
}

#boardContainer > div:last-child {
	width:100%;
	height:10%;
	display:flex;
	justify-content: flex-end;
}


#subBoard {
	width:90%;
	height:100%;
	background-color: #eeedaa;
	border-radius: 2em;
	display:flex;
	align-items: center;
}

.board {
	width:34%;
	height:90%;
	background-color: #eeedaa;
	display:flex;
	flex-direction: column;
    align-items: flex-end;
}

#title {
	font-size:17vw;
	font-family: 'Concert One', cursive;
	color: rgb(131, 3, 143);
}

.content {
	font-size:3vw;
	color:black;
}

.stdBtn {
	width:20%;
	font-size:5vw;
	padding:10px;
	margin:15px;
	text-align:center;
	font-family: 'Concert One', cursive;
	background-color:beige;
}